<section class="scaffold">

<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @length.description %>
</p>

<%= link_to 'Edit', edit_length_path(@length) %> |
<%= link_to 'Back', lengths_path %>

</section>