<footer class="footer l-box pure-g-r">
	<div class="pure-u-2-3">
		<div class="footer-container">
			<a name="about"></a>
			<h4>About Us</h4>
			<div>
				<p>
					For the past 15 years coElevation’s founders have been focused on building and delivering custom wilderness and educational experiences around the world. Their commitment to pursuing exceptional trips is what focuses all aspects of coElevation, and every guide on the team shares this passion.
				</p>
				<p>
					Beyond a beautiful day in the wilderness, we strive to deliver foundational experiences that provide a basis for future adventures. Everything we do is built around pushing boundaries, finding new passions and fostering the crisp feeling that results from pursuing challenging activities in wild places.
				</p>
				<!-- <p>
					It happens in a thousand different ways, but it always feels the same. A moment of nervous hesitation, a step forward into the unknown &amp; the pleasure that comes from knowing just a little bit more about the world and yourself.
				</p>
				<p>
					At coElevation, everything we do is built around striving to connect our customers with that feeling – from the professional guides we choose to work with to the activities we offer to the culture of personal adventure we enjoy at work.
				</p>
				<p>
					We believe people who take time to connect with themselves through challenging activities in beautiful environments are, simply put, better people. And that gives us a case of the warm fuzzies. 
				</p> -->
<!-- 				<p>
					We've worked and played in the mountains all our lives, and have the experience that comes only from a commitment to perfecting a craft. Whether teaching a first time angler to cast, or working through a complicated rockline with another experienced climber, our commitment to excelence is apparent in every trip we take.
				</p> -->
			</div>
		</div>
	</div>
	<div class="pure-u-1-3">
		<div class="footer-container">
			<a name="contact"></a>
			<h4>Connect with us</h4>
			<p>coelevation@gmail.com</p>
			<p>PO Box 20942, Boulder, CO, 80308</p>
			<p>coElevation, LLC.</p>
			<p>
				<i class="fa fa-facebook"></i>
				<i class="fa fa-twitter"></i>
				<i class="fa fa-linkedin"></i>
			</p>
		</div>
	</div>
</footer>